.page-careers{
    margin-top:4rem;
}

.page-careers h1.page-title {
    margin:0 0 2rem;
}
select#branch_phone {
    border: 1px solid rgba(46, 2, 73, 0.3);
    padding: .5rem;
}
/* Style the radio button container */
.contact .acf-radio-list {
    display: flex
;
    flex-wrap: wrap;
    gap: 10px 30px;
    padding: 0;
    justify-content: start
}

.file-info {
    display:none !important;
}
.contact a.custom-link{
    color:#000 ;
}

/* Style each label as a button */
.contact .acf-radio-list label {
    background: white;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
        width: 100%;
            text-align: center;
    font-size: 14px;
    transition: all 0.3s ease;
    display: inline-block;
}

/* Apply green background for selected radio button */
.contact .acf-radio-list label.selected {
    background: #28a745;
    color: white;
    border-color: #28a745;
}

/* Hide the default radio buttons */
.contact .acf-radio-list input[type="radio"] {
    display: none;
}
.acf-field.acf-field-text ,
.acf-fields>.acf-field {
    border: unset !important;
}
/*.acf-field.acf-field-text.acf-field-67f7b5d48a7b4,*/
/*.acf-bl:before*/
/*{*/
/*    display: none !important;*/
/*}*/

.contact .acf-field-radio .acf-label label {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 36px;
}

.page-careers li::before {
    content: "• "; /* O palitan ng ibang bullet */
}
h2.entry-title {
  color: var(--GREEN-100, #00984b);
  font-family: "Work Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}
.page-careers h3 {
    font-size: 20px;
}
.page-careers ul {
    padding: 0;
}
.social-icon h3 {
  color: var(--DARK-BLUE-80, #444058);
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 3rem;
}
.social-icon span {
  color: var(--GREEN-100, #00984b);
  font-family: "Work Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.acf-field input:focus,
.acf-field textarea:focus,
.acf-field select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 1px solid rgba(46, 2, 73, 0.3) !important;
}

.contact-form .acf-fields.acf-form-fields.-top {
  display: flex;
  flex-wrap: wrap;
}
.contact-form .acf-input-wrap input[type="text"],
.contact-form .acf-input-wrap input[type="number"],
.contact-form .acf-input-wrap input[type="email"],
.contact-form textarea {
  width: 100%;
  border: unset;
  border-bottom: 1px solid rgba(46, 2, 73, 0.3);
}
.contact-form .acf-field {
  margin: 15px 0px;
}
.contact-form .acf-label {
  line-height: 30px;
}

.contact > .column-grp {
  align-items: center;
  margin-top: 2rem;
}
.contact-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}
.contact-tabs .tab {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #888;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}
.contact-tabs .tab.active {
  background-color: #28a745;
  color: white;
  border: none;
}
.contact-tabs .tab:hover {
  background-color: #ddd;
}
