#sitefooter {
    background-repeat: repeat-x;
    background-position: left bottom;
    background: linear-gradient(359deg, #fff, #e8f6ee);
    margin-top: 3rem;
    padding-top: 1rem;
}
li.image-item img {
  width: 100%;
  max-width: 135px;
}
@media (max-width: 1199px) {
  #sitefooter {
    background-size: 3.4rem 3.4rem;
    background-position: left bottom;
    padding-bottom: 3.4rem;
  }
}

#sitefooter h4 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

#sitefooter .footer-wrap {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-bottom: 5rem;
}

#sitefooter .footer-logo {
  display: block;
  width: 20rem;
}

#sitefooter .naeyc-desktop {
  display: block;
}

#sitefooter .schedule-badge img {
  width: 9.8rem;
  margin-top: 1.5rem;
}

#sitefooter .footer-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.4rem;
}

#sitefooter .footer-links ul a,
#sitefooter .footer-links p {
  color: #444058;
  text-decoration: none;
  font-size: 13px;
}
#sitefooter ul.image-list-wrapper li.image-item {
  display: inline-block;
  padding: 0 0 0 36px;
  margin-top: 20px;
}
#sitefooter ul.image-list-wrapper li.image-item:first-child {
  padding-left: 0;
}

#sitefooter .footer-links ul li {
  display: block;
  padding: 0;
}
#sitefooter .footer-links ul a:hover {
  color: #17a351;
}

#sitefooter .footer-links ul li:not(:last-child) {
  margin-bottom: 1rem;
}

#sitefooter .footer-links .footer-socials {
  display: flex;
  margin-bottom: 1.5rem;
}

#sitefooter .footer-links .footer-socials a:not(:last-child) {
  margin-right: 0.75rem;
}

#sitefooter .footer-links .btn-schedule-a-tour {
  width: auto;
  display: inline-block;
  font-size: 1.6rem;
}

@media (max-width: 575px) {
  #sitefooter .footer-links .btn-schedule-a-tour {
    font-size: 1.2rem;
  }
}

#sitefooter .copyright {
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  background: #17a351;
}
@media (max-width: 1199px) {
  #sitefooter .naeyc-desktop {
    display: none;
  }

  #sitefooter .naeyc-mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  #sitefooter .naeyc-mobile {
    display: block;
    margin: 0;
  }

  #sitefooter .footer-logo {
    margin: 0;
  }

  #sitefooter .footer-links {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #sitefooter .footer-links > div {
    margin-top: 3rem;
  }

  #sitefooter .footer-links [class^="col-"],
  #sitefooter .footer-links [class*=" col-"] {
    width: 49%;
  }

  #sitefooter .footer-socials {
    justify-content: left;
  }
}

@media (min-width: 1200px) {
  #sitefooter .naeyc-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  #sitefooter .footer-wrap {
    display: flex;
    justify-content: space-between;
  }

  #sitefooter .footer-links {
    width: -webkit-calc(100% - 20rem);
    width: -moz-calc(100% - 20rem);
    width: 100%;
  }
  #sitefooter .column-grp {
    justify-content: space-between;
  }
}

/*# sourceMappingURL=front_page.css.map */
